# Local Development Overrides
IS_CLOUD=false
IS_PROD=false

# Default Local Server Port
PORT=8080

# Local Database Connection (Matched to root docker-compose.yml)
# DB_MAIN_DSN=postgres://{{ .ProjectName }}_sa:local-dev-password@localhost:5432/{{ .ProjectName }}_main?sslmode=disable
