package ping

import (
	"context"
	"fmt"

	"connectrpc.com/connect"
	pingv1 "CEPHLODYNE_APP_NAME/internal/gen/ping/v1"
)

type Server struct{}

func (s *Server) Ping(
	ctx context.Context,
	req *connect.Request[pingv1.PingRequest],
) (*connect.Response[pingv1.PingResponse], error) {
	
	greeting := fmt.Sprintf("Hello %s, this message brouhght to you by grpc!", req.Msg.Name)
	
	return connect.NewResponse(&pingv1.PingResponse{
		Message: greeting,
	}), nil
}
