# Prioritize the offline zero-trust cache, but allow metadata fetching for fresh lockfile generation
prefer-offline=true

# Allow developers to generate lockfiles locally (Cloud Build strictly overrides this to true!)
frozen-lockfile=false
