{
  "name": "CEPHLODYNE_APP_NAME-frontend",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "vite build",
    "preview": "vite preview"
  },
  "devDependencies": {
    "@bufbuild/protoc-gen-es": "{{ .Versions.ProtobufGenEsVersion }}",
    "@sveltejs/vite-plugin-svelte": "{{ .Versions.VitePluginSvelteVersion }}",
    "@tsconfig/svelte": "{{ .Versions.TSConfigSvelteVersion }}",
    "svelte": "{{ .Versions.SvelteVersion }}",
    "svelte-check": "{{ .Versions.SvelteCheckVersion }}",
    "svelte-preprocess": "{{ .Versions.SveltePreprocessVersion }}",
    "tslib": "{{ .Versions.TSLibVersion }}",
    "typescript": "{{ .Versions.TypeScriptVersion }}",
    "vite": "{{ .Versions.ViteVersion }}"
  },
  "dependencies": {
    "@bufbuild/protobuf": "{{PROTOBUF_VERSION}}",
    "@connectrpc/connect": "{{CONNECT_WEB_VERSION}}",
    "@connectrpc/connect-web": "{{CONNECT_WEB_VERSION}}"
  }
}
