{
  "name": "{{ .ProjectName }}-frontend",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "tsc -b && vite build",
    "preview": "vite preview"
  },
  "devDependencies": {
    {{- if .Features.HasConnectRPC }}
    "@bufbuild/protoc-gen-es": "{{ .Versions.ProtobufGenEsVersion }}",
    {{- end }}
    "typescript": "{{ .Versions.TypeScriptVersion }}",
    "vite": "{{ .Versions.ViteVersion }}",
    "vite-plugin-solid": "{{ .Versions.VitePluginSolidVersion }}"
  },
  "dependencies": {
    "solid-js": "{{ .Versions.SolidVersion }}"
    {{- if .Features.HasConnectRPC }},
    "@bufbuild/protobuf": "{{ .Versions.ProtobufVersion }}",
    "@connectrpc/connect": "{{ .Versions.ConnectWebVersion }}",
    "@connectrpc/connect-web": "{{ .Versions.ConnectWebVersion }}"
    {{- end }}
  }
}
