version: v2
plugins:
  # --- Go Backend Plugins ---
  - plugin: go
    out: pkg/pb
    opt: paths=source_relative
  - plugin: connect-go
    out: pkg/pb
    opt: paths=source_relative

{{- if .Features.HasSvelteUI }}
  # --- TypeScript Frontend Plugins ---
  - plugin: es
    out: src/lib/pb
    opt: target=ts
{{- end }}
