syntax = "proto3";
package ping.v1;

option go_package = "CEPHLODYNE_APP_NAME/internal/gen/ping/v1;pingv1";

service PingService {
  rpc Ping (PingRequest) returns (PingResponse) {}
}

message PingRequest {
  string name = 1;
}

message PingResponse {
  string message = 1;
}
